*
{
    margin: 0;
}



.menu
{
    display:flex;
    flex-direction: row;
    margin-top:30px;
    
    padding-top: 30px;

}
.main_div
{
    display:flex;
    justify-content: space-between;
    background: rgba(0, 153, 255, 0.062); 
    margin: 0%;
    padding: 0%;
}
    
.nav-item
{
    font-size: 30px;
    padding: 20px;
    text-decoration: none;

    
}
.img{
    background-image: url("back.jpg");
    background-size: 100% 160px;
    background-repeat: no-repeat;
}
.nav-item:hover{
    background:rgb(245, 246, 247);
    
}
 
.main{
    font-size: 30px;
}
.one{
    padding-top: 40px;
     padding-left: 30px;
  
    background-color: rgb(196, 194, 194);
}
.read{
    display: none;
}
.btn{
    margin-left: 10px;
    padding:10px;
    font-size: 20px;
    background-color: rgb(189, 185, 181);
    border-radius: 20px;
    margin-bottom: 30px;
}

.two{
    padding-top: 30px;
    padding-left: 30px;
     background-color: rgb(252, 247, 247);
 }

 .read2{
    display: none;
}
.btn2{
    margin-left: 10px;
    padding:10px;
    font-size: 20px;
    background-color: rgb(189, 185, 181);
    border-radius: 20px;
    margin-bottom: 30px;
}


 .footer{
    display: flex;
    justify-content: space-between;
 flex-direction: row;
 background-color: black;  
 
  
}
.footer-h1{
    font-size: 50px;
    color: aliceblue;
}
.footer-p{
    color: rgb(118, 133, 146);
    font-size: 30px;
}
.footer-addr{
    
    font-size: 40px;
    width: 300px;
    padding-left: 200px;
    padding-right: 100px;
}
.footer-line{
    
    background-color: blue;
    height: 6px;
    width: 250px;
    margin-right: 150px;

    
}
.nav{
    
    color:aliceblue;
    flex-direction: column;
    display: flex;
    width: 300px;
    padding-left: 200px;
    padding-right: 200px;
}
.footer-a
{
    
    padding: 20px;
    text-decoration: none;

    color:rgb(118, 133, 146); 
    font-size: 30px;
}
.follow{
    
    color: aliceblue;
    padding-left: 200px;
    padding-right: 100px;
    width: 500px;
}
.footer-e{
    color:rgb(101, 121, 138) ;
}








